<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/png" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/kiss-mark_1f48b.png" />
	<title>Suka.host | Upload file using cURL</title>
    <meta name="title" content="Suka.host | Upload file using cURL">
    <meta name="description" content="Upload file using cURL | curl --upload-file ./hello.txt https://suka.host">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://suka.host/">
    <meta property="og:title" content="Suka.host | Upload file using cURL">
    <meta property="og:description" content="Upload file using cURL | curl --upload-file ./hello.txt https://suka.host">
    <meta property="og:image" content="https://i.imgur.com/Z4mLDHN.jpeg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://suka.host/">
    <meta property="twitter:title" content="Suka.host | Upload file using cURL">
    <meta property="twitter:description" content="Upload file using cURL | curl --upload-file ./hello.txt https://suka.host">
	<meta property="twitter:image" content="https://i.imgur.com/Z4mLDHN.jpeg">
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
@RenderBody()
</body>
</html>